@{
    ViewBag.Title = "Branding de kevin";
}


<div class="row">
    <div class="col-md-4">
        <img src="/Content/imagenes/fotoperfil_1.jpg" width="180" height="230" class="img-circle">
    </div>

    <div>
        <h4><strong>Tu buen amigo y vecino</strong> </h4>   
        <h2><strong>Kevin Jefherson Hablutzel Pipa</strong></h2>
 <p>
     Estudiante de Ingenieria de sistemas de una prestigiosa universidad como es
     la Universidad Nacional Federico Villarreal, kevin es ademas un entusiasta
     de la tecnologia, amante de los viajes y la musica.
 </p>  
    </div>

</div>

<div class="row">
    <div class="col-md-3">
        <h2>Estudios</h2>
        <p>
           Aqui podras encontraras mis estudios realizados.
        </p>
        <p><a class="btn btn-default" href="/estudios">Clickeame &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Hoja de Vida</h2>
        <p>
            Aqui podras encontraras mis realizados.
        </p>
        <p><a class="btn btn-default" href="/hojavida">dame un click &raquo;</a></p>
</div>

    <div class="col-md-3">
        <h2>Referencias</h2>
        <p>
            Aqui se encuentran mis referidos.
        </p>
        <p><a class="btn btn-default" href="/referencias">click click &raquo;</a></p>
</div>

    <div class="col-md-3">
        <h2>Hobbies</h2>
        <p>
            Aqui, un poco de mis hobbies.
        </p>
        <p><a class="btn btn-default" href="/hobbies">mega click &raquo;</a></p>
    </div>
</div>